// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
    --ion-background-color: #000;
    --ion-text-color: #fff;
    --ion-color-primary: #7e57c2;
    --ion-color-step-600: #222;
  }
  